<!DOCTYPE html>
<html lang="ru">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    {% if description %}
        <meta name="description" content="{{ description }}">
    {% endif %}
    <title>{{ title }}</title>
    {% include "links.njk" %}
    </head>
    <body class="{{pageStyle}}">
    {% include "header.njk" %}


    <main>
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}
    {% include "scripts.njk" %}
    
    {% if page.url == "/" %}
        {% include "swiper-scripts.njk" %}
    {% endif %}
    {% if "/news/" in page.url %}
        {% include "swiper-scripts.njk" %}
    {% endif %}
    {% if "/modules/id/" in page.url %}
        <script src="/js/accordion-nowrap.js"></script>
    {% endif %}
    {% if "/modules/sod/" in page.url %}
        <script src="/js/accordion.js"></script>
    {% endif %}
    </body>
</html>